.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #dadada;
}

.topPanel {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.topIcons {

}

.balance {

}

.mainPanel {}

.slider {}