.comics-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.load-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}