.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo {
  display: block;
  width: 150px;
}

.options {
  display: flex;
  gap: 5px;
}

.items {
  font-size: 24px;
  font-weight: 700;
}

.link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;

  &:hover {
    color: var(--main-color);
  }
}

.text-active {
  color: var(--main-color);

}