.sliderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.slideWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderImg {
  height: 300px;
  object-fit: cover;
}

.sliderTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.sliderText {
  font-size: 16px;
  font-weight: 600;
  color: rgb(163, 162, 187);
  text-align: center;
  margin-top: 20px;
}

.sliderDotsWrap {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.sliderDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(186, 232, 232);
  margin-top: 60px;
  cursor: pointer;

  &.active {
    background-color: var(--main-color);
    transform: scale(1.7);
  }
}